/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

.container {
  margin-left: 135px
}

.navbar .nav > li > a.brand {
  padding-left: 0px;
  font-family: 'Rum Raisin', sans-serif;
  font-size: 3em;
  color: #f95206;
  transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.1s ease-in-out 0s;
}

.navbar .nav > li > a.brand:hover {
  color: #5ec2db;
}

.quiet {
  color: #ababab;
}

div.nav_item {
  margin-left: 25px;
  float: left;
}

.label, .badge  {
  a, a:hover, a:focus {
    color: #fff;
    text-decoration: none;
  }
}

div.comment_votes {
  padding: 10px;
}

.body-background {
  background-color: #075557;
}

.well {
  background-color: #e4f2fa;
  border-color: #075557;
}

.btn-postit-nav {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #1089b3;
  background-image: none;
  border:none;
  color: #fff;
  letter-spacing: 1px;
  text-decoration: none ! important;
  text-shadow: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
}

.btn-postit-forms {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #f95206;
  background-image: none;
  border:none;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 0.8em;
  text-decoration: none ! important;
  text-shadow: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
}

.btn-postit-forms:hover {
  background: #333;
  color: #fff;
}

.logo {
  font-family: 'Rum Raisin', sans-serif;
  font-size: 3.5em;
  color: #f95206;
}

.page-title {
  letter-spacing: 0.5px;
  font-size: 1.7em;
  font-weight: bold;
  color: #075557;
}

.icon-arrow-up {
  color: #075557;
}

.icon-arrow-down {
  color: #075557;
}

.post-text {
  color: #f94800;
}

.label {
  background-color: #1089b3;
  font-weight: normal;
}

body,
input,
button,
select,
textarea,
.navbar-search .search-query {
  font-family: "PT Sans";
}

.quiet {
  color: #075557;
}

.alert-success {
  background-color: #5ec2db;
  color: #fff;
}

.alert-error {
  background-color: #940000;
  color: #fff ;
}
